<section class="expertise section-container">
    <div class="introduction">
        <h2 data-expertise="{{content.exp_section_title}}" data-skills="{{content.skills_section_title}}">{{content.exp_section_title}}</h2>
        <p><a href="#" class="view-skills">View Skills</a></p>
    </div>
    <div class="container">
        {% set count = 0 %}
        {% for item in content.expertise %}
            {% if count == 0 or count == 2 %}
                <ul class="exp-container">
            {% endif %}
                <li class="exp-item row wpjs slide-left">
                    <span class="icons col-3">
                        <img src="{{TimberImage(item.image.ID).src}}" alt="{{TimberImage(item.image.ID).alt}}">
                        
                    </span>

                    <div class="info col-9">
                        <h3>{{item.title}}</h3>
                        <caption>{{item.caption}}</caption>
                    </div>
                </li>
                {% if count == 1 or count == 3 %}
                </ul>
                {% endif %}
                {% set count = count + 1 %}
        {% endfor %}

        <ul id="gallery" class="skills-container">
            {% for item in content.skills_repeater %}
                <li class="skill-item wpjs slide-left"><div class="bg" style="width: {{item.percentage}}%;"><span class="vertical-text">{{item.label}}</span></div></li>
            {% endfor %}
        </ul>
    </div>
</section>